
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Post</title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
  <h1>Edit Post</h1>
  <form action="/edit" method="POST">
    <input type="hidden" name="id" value="<%= id %>">
    <textarea name="newContent" rows="4" cols="50"><%= content %></textarea><br>
    <input type="submit" value="Save">
  </form>
  <form action="/edit/cancel" method="POST" style="display:inline;">
  <input type="hidden" name="id" value="<%= id %>">
  <input type="submit" value="Cancel">
</form>


</body>
</html>
